<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week 6: Llama Low-Down</title>
    <style>
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<h1>Llama Legal List: 2021 Minnesota Statutes</h1>
<h2>17.456 LLAMA.</h2>
<div id="listTag">
    <p>Subdivision 1: {{factOne}}</p>
    <p>Subd. 2: {{factTwo}}</p>
    <p>Subd. 3: {{factThree}}</p>
    <p>Subd. 4: {{factFour}}</p>
    <p>Subd. 5: {{factFive}}</p>
    <p>Subd. 6: {{factSix}}</p>
    <p>Subd. 7: {{factSeven}}</p>
    <p>Subd. 8: {{factEight}}</p>
    <p>Subd. 9: {{factNine}}</p>
    <h3>Would you like to know a secret?</h3>

    <input type="checkbox" id="secret" value="yes" v-model="checked">
    <label for="secret">Secret <span v-if"">Subd. 10: {{factTen}}</span></label>



    <!-- <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
        </option>
    </select>
    <span v-if="option.value==='B'">Subd. 10: {{factTen}}</span> -->
    <!-- <span>Subd. 10: {{factTen}}</span> -->


    <!-- <p v-if="secret==='yes'">Subd. 10: {{factTen}} <span v-else>"shhhhh"</span></p>
    <p>Subd. 10: {{factTen}}</p> -->

</div>


    <script src="main.js"></script>
</body>
</html>