/* Add your styles here */
html {
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif
}
.llama-list-title {
  border-bottom: 2px solid #333;
  margin: 10px auto;
  text-align: center;
  font-weight: 400;
}
.list-container {
  border-bottom: 1px solid #333;
  padding: 5px;
}
.list-head .rank, .list-head .name {
  display: inline-block;
  width: 45%;
  text-align: center;
}

.even {
  background-color: tan;
}
.odd {
  background-color:mediumaquamarine;
}

ul {
  list-style: none;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  
  margin-bottom: .25em;
}

div.names {
  padding: 1em;
  display: inline-block;
  width: 65%;
  text-align: center;
  
}
div.ranks {
  color: white;
  font-weight: bolder;
  padding: 1em;
  border-right: 2px solid white;
  display: inline-block;
  width: 40%;
  text-align: center;
}

.punypuny {
  color:palevioletred;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: wavy;
}