h1 {
    font-family: colt-soft, serif;
    font-weight: 400;
    font-style: normal;
}

thead {
font-family: bookmania, serif;
font-weight: 700;
font-style: normal;
}

table {
    margin: 2em;
    border:none;
    font-family: bookmania, serif;

font-weight: 400;
font-style: normal;
}

.gradOne {
    color:rgb(49, 49, 30);
    background: linear-gradient(45deg, #e2c78e, #a19467 );
}

.gradTwo {
    color:rgb(49, 49, 30);
    background: linear-gradient(45deg,#a19467, #e2c78e);
    
}
.lava {
    color:rgb(215, 236, 236);
    background: linear-gradient(45deg,#e68964, #ff0095);
}


/* Found text gradient - how can I encorporate this ? */
/* .lavaText {
    background: linear-gradient(to right, darkblue, darkorchid);
    color: transparent;
    background-clip: text;
  } */