<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llama Fan Form</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app" v-cloak>
        <form>
            <fieldset>
                <legentd>Upper Midwest Llama Buddies Registration Form</legentd>
                <div>
                    <label for="firstName">First Name</label>
                    <input id="firstName" v-model="firstName">
                </div>
                <div>
                    <label for="lastName">Last Name</label>
                    <input id="lastName" v-model="lastName">
                </div>
                <div>
                    <label  for="street">Street Address</label>
                    <input id="" v-model="">
                </div>
                <div>
                    <label>City</label>
                    <input>
                </div>
                <div>
                    <label>State</label>
                    <select name="" id="">

                    </select>
                </div>
                <div class="alpaca-color">
                    <p>Favorite Alpaca Colors</p>
                    <div>
                        <ul>
                            <li v-for="color in colors">
                            <label v-bind:for="color.value"> 
                                <input
                                type="checkbox"
                                name="" 
                                v-model="selectedColors"
                                v-bind:id="color.value"
                                v-bind:value="color.value">
                                {{color.name}}
                            </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="alpaca-status">
                    <label>Alpaca Status</label>
                    <textarea name="" id="" cols="30" rows="10"
                    v-model=""status></textarea>
                </div>
            </fieldset>
            <div class="output">
                <h3>Please Review</h3>
                First Name: {{firstName}}<br>
                Last Name: {{lastName}}<br>
                Adress: {{street}}, {{city}}, {{state}}<br>
                Alpaca Color: {{selectedColors}}<br>
                Status: {{status}}<br>
            </div>
        </form>




    </div>
    <script src="main.js"></script>
</body>
</html>